html, body {
  margin:0;
  padding:0;
  background:#efefef;
  min-width:100%;
  min-height:100%;
}

#target {
  min-width:100%;
  min-height:100%;
}

.aGe {
  display:inline-flex;
  width:50px;
  height:50px;
  background:green;
  border:white solid 3px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  flex-direction:column;
  font-weight:bold;
  font-family:"Comic Sans MS", cursive, sans-serif;
}

.hAppYBirTHDaY {
  display:inline-flex;
  height:50px;
  background:green;
  border:white solid 3px;
  display:flex;
  align-items:center;
  justify-content:center;
  color:white;
  flex-direction:column;
  font-weight:bold;
  font-family:"Comic Sans MS", cursive, sans-serif;
}